@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background-color: #ffffff;
}

/*Partie header*/
.logo {
    width: fit-content;
    position: relative;
    top: 5px;
    left: 70px;
}
.social {
    position: absolute;
    top: 10px;
    right: 40px;
    font-size: 30px;
}
.social i:first-child {
    color: gray;
    margin-right: 15.5px;
}

.social a:nth-child(2) > i {
    color: #4267B2;

}
.social a:nth-child(3) > i {
    color: #1DA1F2;
    margin-left: 4.5px ;
}
.social img {
    position: relative;
    top: 6px;
}

/*Partie first*/
.first {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    flex-wrap: wrap;
}
/*Card with text*/
.first .card_text {
    width: 400px;
}
.first div:nth-child(4) {
    background-color: lightgray;
    padding: 70px 50px;
}
.first .card_text h1 {
    margin: 0;
    font-size: 52px;
    font-weight: 900;
    color: green;
    text-align: justify;
}    
.first .card_text p {
    margin: 20px 0;
}
.first .card_text p span {
    text-decoration: underline;
    text-decoration-color: green;
}
/*Card with img & flags*/
.card_img img {
    width: 400px;
    height: 400px;
}
.card_img, .card_text {
    position: relative;
}
.card_img .lflag, .rflag {
    height: 250px;
    width: 30px;
    background-color: green;
    position: absolute; 
}
.rflag, .lflag {
    left: -7.5%;
}
.lflag {
    top: 8%
}

/*Buttons*/
.first .card_text button {
    height: 40px;
    width: 180px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.5s;
}
.first .card_text button:hover {
    transform: scale(1.05);
}
/*Button left*/
.card_text .bleft {
    margin-right: 10px;
    background-color: green;
    color: #ffffff;
    font-weight: 900;
    border-color: green;
}
.card_text .bleft i {
    margin-right: 15px;
    font-size: 16px;
}
/*Button right*/
.card_text .bright {
    margin-left: 10px;
    background-color: lightgrey;
    font-weight: 900;
    
}
.card_text .bright i {
    margin-right: 20px;
    font-size: 16px;
}

/*Partie Second*/
.second {
    display: flex;
    justify-content: center;
    background-color: lightgray;
    margin-top: 10px;
    padding-top: 20px;
}
.card_details {
    display: grid;
    grid-template-rows: 400px 400px;
    grid-template-columns: 300px 300px;
    gap: 30px;
    text-align: center;
}
.card_details > div {
    background-color: #ffffff;
    border-radius: 10px;
    position: relative;
    padding: 30px;
}
.backicon {
    background-color: lightgreen;
    color: green;
    width: 30%;
    border-radius: 50%;
    height: 20%;
    position: absolute;
    left: 35%;
    top: 10px;
}